<header>
    <h1 style="text-align:center">Fruits and Veg</h1>
</header>
<div class="container">
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://images.freeimages.com/images/thumbs/2e2/fruit-1182045.jpg" style="width:100%">
                <p>Fresh Apples</p>
                <p class="price">R59.99</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://images.freeimages.com/images/small-previews/118/fresh-green-grape-1323137.jpg" style="width:100%">
                <p> Grapes</p>
                <p class="price">R79.99</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://images.freeimages.com/images/thumbs/2cb/tomato-making-salsa-2-1558688.jpg" style="width:100%">
                <p>Tomatoes</p>
                <p class="price">R89.99</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://images.freeimages.com/images/small-previews/4ab/fruits-and-vegetables-1-1324165.jpg" style="width:100%">
                <p>Peaches</p>
                <p class="price">R17.99</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="column">
            <div class="card">
                <img src="https://images.freeimages.com/images/small-previews/4ec/banana-s-1326714.jpg" style="width:100%">
                <p>Banans</p>
                <p class="price">R50.00</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://images.freeimages.com/images/small-previews/224/avocados-1511987.jpg" style="width:100%">
                <p>Avocados</p>
                <p class="price">R19.99</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>

    </div>